<form class="form-inline">
	<input type="text" class="form-control" ng-model="u" />
	<input type="text" class="form-control" ng-model="v" />
	<button type="button" class="btn btn-default" ng-click="addEdge()">Add edge</button>
	<small>* in case the edge doesn't exist, it will add it</small>
</form>



<div id="graphcanvas">
</div>

<form class="form-inline">
	<button type="button" class="btn btn-primary" ng-click="show('list')">Adjacency list</button>
	<button type="button" class="btn btn-primary" ng-click="findConnectedComponents()">Connected Components</button>
</form>

<div class="graphbox" ng-hide="mustHide('list')">
	<h3>Adjacency List</h3>
	<ul ng-repeat="(node, adjacents) in graph">
		<h4>{{ node }}</h4>
		<li class="adjacent" ng-repeat="edge in adjacents">
			{{ edge }}
		</li>
	</ul>
</div>

<div class="graphbox" ng-hide="mustHide('conexcomp')">
	<h3>Connected components</h3>
	<ul ng-repeat="component in components">
		<h4>Componente {{ $index+1 }}</h4>
		<li  class="adjacent" ng-repeat="edge in component">
			{{ edge }}
		</li>
	</ul>
</div>
