<div class="col-sm-6">
	<h3>status</h3>
	<div class="col-sm-6">
		<p class="course">
				<span>Técnico</span>
				<span>Processamento de Dados</span>
			 	<span>FAETEC</span>
		</p>
		<div class="progress progress-striped">
		 <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="65"
		 aria-valuemin="0" aria-valuemax="100" style="width:100%">
				100%
		 </div>
		</div>
	</div>
	<div class="col-sm-6">
		<p class="course">
			<span>Bacharelado</span>
			<span>Ciência da Computação</span>
			<span>UERJ</span>
		</p>
		<div class="progress progress-striped">
		 <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="65"
		 aria-valuemin="0" aria-valuemax="100" style="width:65%">
				65%
		 </div>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<h3>xp em</h3>
	<p>desenvolvimento web & grails & java & javascript & algoritmos & agile & aws</p>
	<h3>atual foco em</h3>
	<p>UERJ & ser uma dev melhor(sempre) & data science & inteligência artificial</p>
</div>
<div class="col-sm-12">
	<h3>projetos</h3>
	<div class="projectbox col-sm-3">
		<a href="http://insideoutproject.xyz/" target="_blank">insideout</a>
	</div>
	<div class="projectbox col-sm-3">
		<a href="https://speakerdeck.com/biancarosa/" target="_blank">talks</a>
	</div>
</div>
<div class="col-sm-12">
	<h3>coisas legais</h3>
	<div class="projectbox col-sm-3">
		<a href="#/grafos">grafos</a>
	</div>
	<!---
	<div class="projectbox">
		<a href="#/sierpinski">curvas de sierpinski</a>
	</div>
	-->
</div>
