body {
	font-family: 'Bitter', serif;
} 

ul {
	list-style-type: none;
	display: inline-block;
}

ul li.adjacent {
	display: inline-block;
	margin-right: 5px;
}

#graphcanvas {
	margin: 5px;
    max-width: 400px;
    height: 300px;
    margin: auto;
 }

.header h1, .header p {
	display: block;
}

.header p {
	width: 300px;
}

.projectbox {
	width: 240px;
	height: 240px;
	background-color: #A00000;
  	line-height: 200px;
	text-align: center;
	margin: 10px;
	padding: 1px;
	display: inline-block;
}

.projectbox a, .projectbox a:hover, .projectbox a:active, .projectbox a:focus {
	font-size: 42px;
  	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;    
	color: #FFF;  
  	text-decoration: none;
}

 .projectbox a:hover {
 	text-decoration: line-through;
 }

 .graphbox {
 	margin-bottom: 10px;
 }