body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
}

ul {
	list-style-type: none;
	display: inline-block;
}

ul li.adjacent {
	display: inline-block;
	margin-right: 5px;
}

#graphcanvas {
		margin: 5px;
    max-width: 400px;
    height: 300px;
    margin: auto;
 }

.header h1, .header p {
	display: block;
}

.header p {
	width: 300px;
}

.projectbox {
	height: 100px;
	background-color: #A00000;
  line-height: 100px;
	text-align: center;
	margin: 10px;
	padding: 1px;
	display: inline-block;
}

a, a:hover, a:active, a:focus {
	color: #000;
	text-decoration: none;
}

a:hover {
 	text-decoration: line-through;
}

.graphbox {
	margin-bottom: 10px;
}

.container.main {
	background-color: rgba(209, 216, 219, 0.9);
	color: #5A5A5A;
	width: 80%;
}
