<div class="col-sm-12">
	<p>Hello! I'm Bianca, a full-stack developer based in Rio de Janeiro, RJ.	Feel free to reach me at any social network provided.</p>
	<p>If you're wondering about my skills, I strongly advise you to check my LinkedIn for an updated overview of them.</p>
	<p>Here's some cool stuff I'd like to share...</p>
</div>

<div class="col-sm-12">
	<h2>Education</h2>
	<div class="col-sm-6">
		<p class="course">
			<span>Associate's Degree | Data Processing | FAETEC</span>
		</p>
		<div class="progress progress-striped">
		 <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
				100%
		 </div>
		</div>
	</div>
	<div class="col-sm-6">
		<p class="course">
			<span>B.Sc | Computer Science | UERJ</span>
		</p>
		<div class="progress progress-striped">
		 <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
				70%
		 </div>
		</div>
	</div>
</div>

<div class="col-sm-12">
	<h2>Projects</h2>
	<div class="project col-sm-6">
		<a href="http://insideoutproject.xyz/">InsideOut Project | insideoutproject.xyz</a>
		<p>I am part of a group that wants to help change the ratio of women in tech.</p>
	</div>

	<div class="project col-sm-6">
		<a href="http://speakerdeck.com/biancarosa/">SpeakerDeck | speakerdeck.com/biancarosa/</a>
		<p>I have a few talks, mostly for beginners (and in Portuguese) on Speakerdeck.</p>
	</div>


	<div class="project col-sm-6">
		<a href="http://insideoutproject.xyz/mulheres-palestrantes/">Mulheres Palestrantes | insideoutproject.xyz/mulheres-palestrantes</a>
		<p>An open source project that gathers contact info about women in Brazil that are willing to share their knowledge in IT events. No more excuses for not having women on the stage :)</p>
	</div>
</div>

<div class="col-sm-12">
	<h2>Playing around</h2>
	<div class="project col-sm-6">
		<a href="#/graph">Playing with Graphs</a>
		<p>Just some code that shows a visual reprensentation of a graph in JavaScript and show its connected components.</p>
	</div>
</div>
